<!-- <div class="prefooter" ng-if="showNav">
        <div class="tile purple">

            <div class="tile-footer text-center">
                <span style="font-size:11px">Sales Rep Application | Crossover for works |   © Copyright Jun 2016 </span>
            </div>
        </div>
</div>
<div class="prefooter" ng-if="!showNav">
        <div class="tile purple">
            <div class="tile-footer text-center">
                <span style="font-size:11px">Sales Rep Application | Crossover for works |   © Copyright Jun 2016</span>
            </div>
        </div>
</div> -->
